<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>
    <h3 style="font-family: 'Segoe UI', system-ui, sans-serif;">You are:</h3>
    <ul style="font-size: 20px; font-family: monospace;">
        <li>Username: {{ user.username }}</li>
        <li>Name: {{ user.name }}</li>
        {% if user.phone_number %}
        <li>Phone: {{ user.phone_number }}</li>
        {% endif %}
    </ul>
    <div style="padding-top:56%;position:relative;">
        <iframe
            src="{{ video_url }}"
            style="border:0;max-width:100%;position:absolute;top:0;left:0;height:100%;width:100%;"
            allowFullScreen="true"
            allow="encrypted-media"
        >
        </iframe>
    </div>
    <h2 style="font-family: 'Segoe UI', system-ui, sans-serif; color: red;">All videos on SmartFit are for personal use only. Do not record, share, or upload them anywhere. Violations may lead to account suspension or legal action.</h2>
</body>
</html>
